# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. TensorFlow
3. Apache Spark

Data Science Tools |
----- |
MySQL |
Hadoop File System |
Apache CouchDB |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes into hours by dividing by 60.

In [3]:
200/60

3.3333333333333335

## Author
Cody Leonard